<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/src');

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'ordered_imports' => ['sortAlgorithm' => 'alpha'],
        'ordered_class_elements' => ['sortAlgorithm' => 'alpha'],
    ])
    ->setFinder($finder);
